{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>
    <section>
    <div>
        <p>Bonjour {{ user.username }},</p>

        <p>Veuillez cliquer sur le lien ci-dessous pour confirmaer votre addresse mail:</p>

        <a href="http://{{ domain }}{% url 'useraccount:activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'useraccount:activate' uidb64=uid token=token %}</a>
    </div>
    </section>
    <footer>
      <p>A bientôt sur peopleskills</p>
    </footer>
    </body>
</html>