{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">PeopleSkills est une plateforme d'échange de biens et services entre particuliers</div>
                <div class="masthead-subheading">Proposez vos services ou biens, et recevez-en en échange!</div>
        </header>

 <!-- Sign in form -->
        <div id='register_form'>
        <form method = 'post' action = "">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            {% for field in form %}
            <!--{{form.as_p}}-->
            {% if field.html_name != 'gender' %}
            <div class='field'>
            <label for="{{field.id_for_label}}">{{field.html_name}}</label>
            {{ field }}
            </div>
            {% else %}
            <div class='field'>
            <label for="{{field.id_for_label}}">{{field.html_name}}</label>
            {{ field }}  Homme:coché   Femme:décoché
            </div>
            {% endif %}
            {% endfor %}
            <input type='submit' name ='create_user'>
        </form>
        </div>

       
        
{% endblock %}
