{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
    <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">PeopleSkills est une plateforme d'échange de biens et services entre particuliers</div>
                <div class="masthead-subheading">Proposez vos services ou biens, et recevez-en en échange!</div>
            </div>
    </header>   
        <p>Ceci est la page mon compte</p>
    </section>   
{% endblock %}