{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <header class="mentions_head">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div>
    </header>
<section class="page-section">
    <div class="container bg-light rounded shadow p-3">
        <div class="row">
            <div class="col-lg-6">
                <p>Nom:</p>
            </div>
            <div class="col-lg-6">
                <p>NOWACZYK</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Prénom:</p>
            </div>
            <div class="col-lg-6">
                <p>Vincent</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Adresse:</p>
            </div>
            <div class="col-lg-6">
                <p>3223 rue des Clefs.74230 LES CLEFS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Téléphone:</p>
            </div>
            <div class="col-lg-6">
                <p>+33 6 31 47 07 08</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Bio:</p>
            </div>
            <div class="col-lg-6">
                <p>
                    Projet 13 du parcours de développeur d'application Python d'Openclassrooms</br>
                    Développé par Vincent NOWACZYK</br></br>
                    Projet final du parcours, le sujet est libre.</br>
                    Le but de ce projet est de créer une application opensource,</br>
                    entièrement gratuite et à impact social</br></br>

                    Peopleskills est une application d'échange de services entre particuliers</br>

                    Les utilisateurs peuvent:</br>

                        -Consulter la liste des membres inscrits</br>
                        -Créer un compte, éditer leur profil en choisissant des services recherchés et offerts</br>
                        -Trouver un profil particulier en fonction de critères de recherche</br>
                        -S'inscrire à une alerte par mail si un autre membre souhaite les contacter</br>
                        -Noter un autre membre</br>

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}